<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Sasquatch Websighting</title>
</head>
<body>
    <div class="container row justify-content-center mx-auto mt-3 bg-dark text-light rounded">
        <div class="row">
            <h2 class="p-0 col-6">Sasquatch Websighting</h2>
            <h2 class="p-0 col-6">{{user.first_name}} {{user.last_name}}</h2>
        </div>
        <div class="row justify-content-end">
            <a href="/dashboard" class="btn btn-primary col-2 mt-3" style="height: 70%;">Return to Dashboard</a>
        </div>
        <div class="row justify-content-end">
            <a href="/user/logout" class="btn btn-danger col-1 mt-3" style="height: 70%">Logout</a>
        </div>
        <div>
            <div>
                {% with messages = get_flashed_messages(category_filter=['recipe_error']) %}
                    {% if messages %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        {% for message in messages %}
                            <p>{{message}}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="row">
            <h1>Edit this Sighting</h1>
            <form action="/sightings/edit/process/{{sighting.id}}" method="post" class="card col-12 mx-auto bg-dark text-light p-3 mb-3">
                <div class="row">
                    <div class="col-4 offset-1">
                        <div class="form-group mb-3">
                            <label for="location">Location:</label>
                            <input type="text" name="location" id="location" class="form-control" value="{{sighting.location}}">
                        </div>
                        <div class="form-group mb-3">
                            <label for="content">What happened:</label>
                            <textarea name="content" id="content" rows="10" class="form-control" value="{{sighting.content}}"></textarea>
                        </div>
                    </div>
                    <div class="col-4 offset-1">
                        <div class="form-group mb-3">
                            <label for="sight_date">Date of Sighting:</label>
                            <input type="date" name="sight_date" id="sight_date" class="form-control" value="{{sighting.sight_date}}">
                        </div>
                        <div class="form-group mb-3">
                            <label for="num_sasquatch"># of Sasquatches</label>
                            <input type="number" name="num_sasquatch" id="num_sasquatch" class="form-control" value="{{sighting.num_sasquatch}}">
                        </div>
                    </div>
                </div>
                <input type="submit" class="col-2 offset-1 btn btn-success mb-3" value="Update Report">
            </form>
        </div>
    </div>
</body>
</html>