<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Users CR</title>
</head>
<body>
    <form action="/user/update" method="post" class="col-6 mx-auto p-4">
        <div class="d-flex justify-content-between">
            <h2>Edit {{user.first_name}}</h2>
            <input type="hidden" name="id" value={{user.id}}>
            <a href="/users" class="btn btn-primary rounded" style="height: 80%;">Home</a>
        </div>
        <div class="form-group">
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" class="form-control mb-3" value="{{user.first_name}}">
        </div>
        <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" class="form-control mb-3" value="{{user.last_name}}">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" name="email" class="form-control mb-3" value="{{user.email}}">
        </div>
        <input type="submit" value="Update" class="btn btn-success rounded">
        <a href="/user/show/{{user.id}}" class="btn btn-warning rounded">Show</a>
    </form>
</body>
</html>